<div class="container">
  <h1>All Restaurants</h1>
  <div class="card"></div>
    <ul class="list-group list-group-flush">
      <% @restaurants.each do |restaurant| %>
      <li class="list-group-item">
        <%= restaurant.name %>
        <br>
        <%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary"%>
      </li>
      <% end %>
    </ul>
  </div>
</div>
